<footer class="w-full p-4 bg-gray-100 text-center">
    <p class="text-gray-700">Made with ❤️ by Jose Manuel Bono</p>
    <div class="mt-2 space-x-4">
        <a href="https://www.linkedin.com/in/jose-manuel-bono-campos-b9136726b"
           target="_blank"
           rel="noopener noreferrer"
           title="Visit my LinkedIn profile"
           class="inline-block text-2xl text-gray-700 hover:text-[#0077b5] transition-colors duration-300">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
            <span class="sr-only">LinkedIn</span>
        </a>
        <a href="https://github.com/BonoDV"
           target="_blank"
           rel="noopener noreferrer"
           title="Visit my GitHub profile"
           class="inline-block text-2xl text-gray-700 hover:text-[#0077b5] transition-colors duration-300">
            <i class="fab fa-github" aria-hidden="true"></i>
            <span class="sr-only">GitHub</span>
        </a>
    </div>
</footer>
