<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
    <div class="text-2xl font-bold mb-4 text-gray-800">Tiempo: {{timeElapsed}}</div>
    <div class="grid grid-cols-4 gap-4 p-4 bg-white rounded-lg shadow-lg w-fit h-fit">
        @for (card of cards; track card.id) {
            <div (click)="flipCard(card); comprobeMatch()" class="w-32 h-44 bg-slate-100 rounded-lg cursor-pointer hover:bg-slate-200 transition-all duration-300 transform hover:scale-105">
                <div class="w-full h-full relative">
                    @if (card.isFlipped || card.isMatched) {
                        <img [src]="card.image" [alt]="'Card ' + card.id"
                             class="w-full h-full object-cover rounded-lg">
                    } @else {
                        <!-- Card Back -->
                        <div class="w-full h-full bg-blue-500 rounded-lg flex items-center justify-center">
                            <span class="text-white text-4xl">?</span>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
</div>
